<table class="table">
  <thead>
    <tr>
      <th>#</th>
      @for (kriterijum of listaKriterijuma(); track $index) {
        <th scope="col">{{ kriterijum.name }}</th>
      }
    </tr>
  </thead>
  <tbody>
    @for (row of matricaKriterijuma(); track $index; let i = $index) {
      <tr>
        <th>{{ listaKriterijuma()[$index].name }}</th>
        @for (cell of row; track $index; let j = $index) {
          <td>
            <input
              type="number"
              [value]="cell"
              min="1"
              max="9"
              step="1"
              [disabled]="i == j || i > j"
              (change)="proracunElemenataIspodDijagonale(i,j, $event)"
            />
          </td>
        }
      </tr>
    }
    <tr>
        <th>Suma kolona</th>
      @for (sum of sumaKolona(); track $index; let i = $index) {
        <td>
          <input type="number" [disabled]="true" [(ngModel)]="sumaKolona()[i]" />
        </td>
      }
    </tr>
  </tbody>
</table>